{% extends 'base.html' %} {% block title %} {{ translate('Doctor Profile') }} {%
endblock %} {% block body %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ url_for('home') }}">{{ translate('Home') }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ translate('Profile Settings') }}
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">{{ translate('Profile Settings') }}</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <!-- Profile Sidebar -->
        {% block sidebar %} {% include 'base-admin-side.html' %} {% endblock %}
        <!-- /Profile Sidebar -->
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <!-- Basic Information -->
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }} {{ form.csrf_token }}
          <div class="card">
            <div class="card-body">
              <div class="row form-row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="change-avatar">
                      <div class="profile-img">
                        <img
                          src="static/img/user.svg"
                          id="imagePreview"
                          alt="User Image"
                        />
                      </div>
                      <div class="upload-img">
                        <div class="change-photo-btn">
                          <span
                            ><i class="fa fa-upload"></i> {{ translate('Upload
                            Photo') }}</span
                          >
                          {{ form.photo(class="upload" )}}
                        </div>
                        <small class="form-text text-muted"
                          >{{ translate('Allowed JPG, GIF or PNG. Max size of
                          2MB') }}</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.firstname.label() }} {{
                    form.firstname(class="form-control" )}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.lastname.label() }} {{
                    form.lastname(class="form-control" )}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.email_address.label() }} {{
                    form.email_address(class="form-control" )}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.phone.label() }} {{ form.phone(class="form-control"
                    )}}
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    {{ form.IDNum.label() }} {{
                    form.IDNum(class="form-control" )}}
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    {{ form.fromHour.label() }} {{
                    form.fromHour(class="form-control" )}}
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    {{ form.toHour.label() }} {{
                    form.toHour(class="form-control" )}}
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    {{ form.duration(class="form-control") }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.price.label() }} {{ form.price(class="form-control"
                    )}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.specialization_id.label() }} {{
                    form.specialization_id(class="form-control" )}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Basic Information -->

          <div class="submit-section submit-btn-bottom">
            <div class="submit-section submit-btn-bottom">
              {{ form.submit(class="btn btn-primary submit-btn") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
{% endblock %}
<!-- Footer -->
