{% extends 'base.html' %} {% block title %} Doctor {{ translate('Patient List')
}} {% endblock %} {% block body %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">
              ALl Appointments
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">All Appointments</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <!-- Profile Sidebar -->
        {% block sidebar %} {% include 'base-admin-side.html' %} {% endblock %}

        <!-- /Profile Sidebar -->
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-body pt-0">

                <!-- Tab Menu -->
                <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
                        </li>
                    </ul>
                </nav>
                <!-- /Tab Menu -->

                <!-- Tab Content -->
                <div class="tab-content pt-0">

                    <!-- Appointment Tab -->
                    <div id="pat_appointments" class="tab-pane fade show active">
                      <div class="card card-table mb-0">
                          <div class="card-body">
                              <div class="table-responsive">
                                  <table class="table table-hover table-center mb-0">
                                      <thead>
                                          <tr>
                                              <th>Clinic</th>
                                              <th>Doctor</th>
                                              <th>Patient</th>
                                              <th>Price</th>
                                              <th>Specialization</th>
                                              <th>Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        {% for appointment, doctor, clinic, patient, user in appointments %}
                                          <tr>
                                              <td>
                                                <h2 class="table-avatar">
                                                  {% set base_path = 'static/images/clinic/' %}
                                                  <p class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{base_path ~ clinic.users.photo}}" alt="User Image"></p>
                                                  <p>{{ translate(clinic.users.name) }}</p>
                                                </h2>
                                              </td>
                                              <td>
                                                <h2 class="table-avatar">
                                                  {% set base_path = 'static/images/doctors/' %}
                                                  <p class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{base_path ~ doctor.users.photo}}" alt="User Image"></p>

                                                  <p>{{ translate('Dr.') }} {{ translate(doctor.users.name) }}</p>
                                                </h2>
                                              </td>
                                              <td><h2 class="table-avatar">
                                                <div class="avatar avatar-sm mr-2">
                                                  {% set base_path =
                                                  'static/images/patients/' %}
                                                  <img
                                                    class="avatar-img rounded-circle"
                                                    src="{{ base_path ~ user.photo }}"
                                                    alt="User Image"
                                                  />
                                                </div>
                                                <p class="mt-2">
                                                  {{ user.name }}
                                                  <span
                                                    > {{ appointment.date }}
                                                    <span class="d-block text-info"
                                                      >{{ appointment.time.strftime('%I:%M %p')
                                                      }}</span
                                                    ></span
                                                  >
                                                </p>
                                              </h2></td>
                                              <td>${{ doctor.price }}</td>
                                              <td>{{ doctor.specialization.specialization_name }}</td>
                                              <td>
                                                  {% if appointment.status.name == 'Cancelled' %}
                                                      <span class="badge badge-pill bg-danger position-relative d-inline">Cancelled</span>
                                                  {% elif appointment.status.name == 'Pending' %}
                                                      <span class="badge badge-pill bg-info position-relative d-inline">Pending</span>
                                                  {% elif appointment.status.name == 'Completed' %}
                                                      <span class="badge badge-pill bg-success position-relative d-inline">Completed</span>
                                                  {% else %}
                                                      <span class="badge badge-pill bg-secondary position-relative d-inline">{{ appointment.status.name }}</span>
                                                  {% endif %}
                                              </td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>

                    <!-- /Appointment Tab -->

                </div>
                <!-- Tab Content -->

            </div>
        </div>
    </div>

    </div>
  </div>
    <!-- /Page Content -->

  </div>
</div>
{% endblock %}