{% extends 'base.html' %} {% block title %} Doctor {{ translate('Dashboard') }}
{% endblock %} {% block body %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Dashboard
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Dashboard</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Profile Sidebar -->
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        {% block sidebar %} {% include 'base-patient-side.html' %} {% endblock %}
      </div>
      <!-- / Profile Sidebar -->
      <div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
        <div class="card">
            <div class="card-body pt-0">
                <div class="user-tabs">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified flex-wrap">
                        <li class="nav-item">
                            <a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pres" data-toggle="tab"><span>Prescription</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#medical" data-toggle="tab"><span class="med-records">Medical Records</span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">

                    <!-- Appointment Tab -->
                    <div id="pat_appointments" class="tab-pane fade show active">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Doctor</th>
                                                <th>Appt Date</th>
                                                <th>Amount</th>
                                                <th>Follow Up</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for appointment in appointments %}
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="#" class="avatar avatar-sm mr-2">
                                                            <img class="avatar-img rounded-circle" src="{{ appointment.doctor_photo }}" alt="User Image">
                                                        </a>
                                                        <a href="#">{{ appointment.doctor.users.name }} <span>{{ appointment.doctor.specialization.specialization_name }}</span></a>
                                                    </h2>
                                                </td>
                                                <td>{{ appointment.date }} <span class="d-block text-info">{{ appointment.time_range }}</span></td>
                                                <td>${{ appointment.doctor.price }}</td>
                                                <td>
                                                  {% if current_user.doctor or (current_user.patient and appointment.status.name == 'Completed') %}
                                                      {% if appointment.follow_up %}
                                                          {{ appointment.follow_up.strftime('%d %b %Y') }}<br />
                                                          {{ appointment.follow_up.strftime('%I:%M %p') }}
                                                      {% else %}
                                                          No Follow-Up
                                                      {% endif %}
                                                  {% else %}
                                                      No Follow-Up
                                                  {% endif %}
                                                  {% if current_user.patient %}
                                                  <td>
                                                <span
                                                  class="badge badge-pill {{ appointment.status_bg() }} position-relative d-inline"
                                                  >{{appointment.status.name}}</span
                                                >
                                              </td>
                                              <td class="text-right">
                                                <form
                                                  action="{{ url_for('cancel_appointment') }}"
                                                  method="post"
                                                >
                                                  <div class="table-action">
                                                    <input
                                                      type="hidden"
                                                      name="csrf_token"
                                                      value="{{ csrf_token() }}"
                                                    />
                                                    <input
                                                      type="hidden"
                                                      name="appointment_id"
                                                      value="{{ appointment.id }}"
                                                    />
                                                    <button type="submit" class="btn btn-danger">
                                                      Cancel
                                                    </button>
                                                  </div>
                                                </form>
                                              </td>
                                              {% endif %}
                                                  {% if current_user.doctor %}
                                                  <td>
                                                    {% set status_class = { 'Pending':
                                                    'bg-warning-light', 'Confirmed':
                                                    'bg-success-light', 'Cancelled': 'bg-danger-light', 'Completed': 'bg-primary-light'
                                                    }[appointment.status.name] %}

                                                    <div class="status-dropdown">
                                                      <button
                                                        class="btn dropdown-toggle badge badge-pill {{ status_class }} status-badge"
                                                        type="button"
                                                        id="dropdownMenuButton"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false"
                                                        data-appointment-id="{{ appointment.id }}"
                                                      >
                                                        {{ translate(appointment.status.name) }}
                                                      </button>
                                                      <div
                                                        class="dropdown-menu"
                                                        aria-labelledby="dropdownMenuButton"
                                                      >
                                                        <button
                                                          class="dropdown-item"
                                                          data-status="Pending"
                                                          style="
                                                            background-color: rgba(255, 193, 7, 0.1);
                                                            color: #ffc107;
                                                          "
                                                        >
                                                          Pending
                                                        </button>
                                                        <button
                                                          class="dropdown-item"
                                                          data-status="Confirmed"
                                                          style="
                                                            background-color: rgba(40, 167, 69, 0.1);
                                                            color: #28a745;
                                                          "
                                                        >
                                                          Confirmed
                                                        </button>
                                                        <button
                                                          class="dropdown-item"
                                                          data-status="Cancelled"
                                                          style="
                                                            background-color: rgba(220, 53, 69, 0.1);
                                                            color: #dc3545;
                                                          "
                                                        >
                                                          Cancelled
                                                        </button>
                                                        <button
                                                        class="dropdown-item"
                                                        data-status="Completed"
                                                        style="background-color: rgba(108, 117, 125, 0.1); color: #6c757d;"
                                                      >
                                                        Completed
                                                      </button>
                                                      </div>
                                                    </div>
                                                  <td class="text-right">
                                                    <div class="table-action">
                                                      <a
                                                        href="javascript:void(0);"
                                                        class="btn btn-sm bg-primary-light"
                                                      >
                                                        <i class="fas fa-print"></i> Print
                                                      </a>
                                                      <a
                                                        href="javascript:void(0);"
                                                        class="btn btn-sm bg-info-light"
                                                      >
                                                        <i class="far fa-eye"></i> View
                                                      </a>
                                                      <a
                                                        href="javascript:void(0);"
                                                        class="btn btn-sm bg-primary-light"
                                                        onclick="showEditForm('{{ appointment.id }}')"
                                                      >
                                                        <i class="far fa-edit"></i> Edit
                                                      </a>
                                                    </div>
                                                    <div
                                                      id="overlay"
                                                      class="overlay"
                                                      style="display: none"
                                                    ></div>

                                                    <!-- Add Follow-Up -->
                                                    <div
                                                      id="editFollowUpModal"
                                                      class="modal"
                                                      tabindex="-1"
                                                      role="dialog"
                                                      style="display: none"
                                                    >
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title">
                                                              Edit Follow-Up
                                                            </h5>
                                                            <button
                                                              type="button"
                                                              class="close"
                                                              aria-label="Close"
                                                              onclick="hideEditForm()"
                                                            >
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body">
                                                            <form
                                                              method="POST"
                                                              action="{{ url_for('update_follow_up') }}"
                                                            >
                                                              <input
                                                                type="hidden"
                                                                id="appointment_id"
                                                                name="appointment_id"
                                                              />
                                                              <input
                                                                type="hidden"
                                                                name="csrf_token"
                                                                value="{{ csrf_token() }}"
                                                              />
                                                              <input
                                                                type="hidden"
                                                                name="patient_id"
                                                                value="{{ patient.id }}"
                                                              />

                                                              <div class="form-group">
                                                                <label for="follow_up_date"
                                                                  >Date</label
                                                                >
                                                                <input
                                                                  type="date"
                                                                  id="follow_up_date"
                                                                  name="follow_up_date"
                                                                  class="form-control"
                                                                />
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="follow_up_time"
                                                                  >Time</label
                                                                >
                                                                <input
                                                                  type="time"
                                                                  id="follow_up_time"
                                                                  name="follow_up_time"
                                                                  class="form-control"
                                                                />
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button
                                                                  type="submit"
                                                                  class="btn btn-primary"
                                                                >
                                                                  Save Follow-Up
                                                                </button>
                                                                <button
                                                                  type="button"
                                                                  class="btn btn-secondary"
                                                                  onclick="hideEditForm()"
                                                                >
                                                                  Cancel
                                                                </button>
                                                              </div>
                                                            </form>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div
                                                        class="modal-overlay"
                                                        onclick="hideEditForm()"
                                                      ></div>
                                                    </div>
                                                  </td>
                                                  {% endif %}

                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- /Appointment Tab -->

                    <!-- Prescription Tab -->
                    <div class="tab-pane fade" id="pres">
                        <div class="text-right">
                            <a href="add-prescription.html" class="add-new-btn">Add Prescription</a>
                        </div>
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Days </th>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>Time of Day</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for medicine in medicine_data %}
                                            <tr>
                                                <td>{{ medicine.days }}</td>
                                                <td>{{ medicine.name }}</td>
                                                <td>{{ medicine.quantity }}</td>
                                                <td>{{ medicine.time_of_day }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Prescription Tab -->

                    <!-- Medical Records Tab -->
                    <div class="tab-pane fade" id="medical">
                        <div class="text-right">
                            <a href="#" class="add-new-btn" data-toggle="modal" data-target="#add_medical_records">Add Medical Records</a>
                        </div>
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>ID Doctor</th>
                                                <th>Time </th>
                                                <th>diagnosis</th>
                                                <th>date appioment</th>
                                                <th>Created by</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {% for record in medical_records %}
													<tr>
														<td>#{{ record.doctor_idnum }}</td>
														<td>{{ record.booking_time }}</td>
														<td>{{ record.diagnosis }}</td>
														<td>{{ record.appointment_date }}</td>
														<td>
															<h2 class="table-avatar">
																<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
																	<img class="avatar-img rounded-circle" src="{{ record.doctor_photo }}" alt="User Image">
																</a>
																<a href="doctor-profile.html">{{ record.doctor_name }} <span>{{ record.doctor_specialization }}</span></a>
															</h2>
														</td>
														<td class="text-right">
															<div class="table-action">

																{% if record.report_url %}
																<a href="{{ url_for('static', filename='reports/' + record.report_url) }}" class="btn btn-sm bg-primary-light" download>
																	<i class="fas fa-print"></i> Print
																</a>
															{% else %}
																<span class="text-muted">No Report Available</span>
															{% endif %}
															</div>
														</td>
													</tr>
													{% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Medical Records Tab -->
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>
</div>
<!-- Modal for rescheduling appointments -->
<div id="reschedule-modal" style="display:none;">
    <!-- Modal content will be loaded dynamically -->
</div>

<script>
  function showEditForm(appointmentId, followUpDateTime) {
    const [date, time] = followUpDateTime
      ? followUpDateTime.split(' ')
      : ['', ''];
    document.getElementById('appointment_id').value = appointmentId;
    document.getElementById('follow_up_date').value = date || '';
    document.getElementById('follow_up_time').value = time || '';
    document.getElementById('editFollowUpModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
  }

  function hideEditForm() {
    document.getElementById('editFollowUpModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }

  window.onclick = function (event) {
    var modal = document.getElementById('editFollowUpModal');
    var overlay = document.getElementById('overlay');
    if (event.target === modal || event.target === overlay) {
      hideEditForm();
    }
  };
</script>
<!-- /Page Content -->
{% endblock %}