{% extends 'base.html' %} {% block title %} Doctor {{ translate('Dashboard') }}
{% endblock %} {% block body %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Dashboard
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Dashboard</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Profile Sidebar -->
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        {% block sidebar %} {% include 'base-patient-side.html' %} {% endblock
        %}
      </div>
      <!-- / Profile Sidebar -->
      <div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
        <div class="card">
          <div class="card-body pt-0">
            <!-- Tab Menu -->
            <nav class="user-tabs mb-4">
              <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    href="#pat_appointments"
                    data-toggle="tab"
                    >Appointments</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="#pat_prescriptions"
                    data-toggle="tab"
                    >Prescriptions</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="#pat_medical_records"
                    data-toggle="tab"
                    ><span class="med-records">Medical Records</span></a
                  >
                </li>
              </ul>
            </nav>
            <!-- /Tab Menu -->

            <!-- Tab Content -->
            <div class="tab-content pt-0">
              <!-- Appointment Tab -->
              <div id="pat_appointments" class="tab-pane fade show active">
                <div class="card card-table mb-0">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center mb-0">
                        <thead>
                          <tr>
                            <th>Doctor</th>
                            <th>Appt Date</th>
                            <th>Appt Time</th>
                            <th>Amount</th>
                            <th>Follow Up</th>
                            <th>Status</th>
                            <th class="text-center">Edite</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for appointment in appointments %}
                          <tr>
                            <td>
                              <h2 class="table-avatar">
                                <a href="#" class="avatar avatar-sm mr-2">
                                  <img
                                    class="avatar-img rounded-circle"
                                    src="{{ appointment.doctor.users.photo }}"
                                    alt="User Image"
                                  />
                                </a>
                                <a href="#"
                                  >{{ appointment.doctor.users.name }}
                                  <span
                                    >{{
                                    appointment.doctor.specialization.specialization_name
                                    }}</span
                                  ></a
                                >
                              </h2>
                            </td>
                            <td>{{ appointment.formatted_date }}</td>
                            <td>{{ appointment.time_range }}</td>
                            <td>${{ appointment.doctor.price }}</td>
                            <td>{{ appointment.followup_date }}</td>
                            <td>
                              <span
                                class="badge badge-pill {{ appointment.status_bg() }} position-relative d-inline"
                                >{{appointment.status.name}}</span
                              >
                            </td>
                            <td class="text-right">
                              <form
                                action="{{ url_for('cancel_appointment') }}"
                                method="post"
                              >
                                <div class="table-action">
                                  <input
                                    type="hidden"
                                    name="csrf_token"
                                    value="{{ csrf_token() }}"
                                  />
                                  <input
                                    type="hidden"
                                    name="appointment_id"
                                    value="{{ appointment.id }}"
                                  />
                                  <button type="submit" class="btn btn-danger">
                                    Cancel
                                  </button>
                                </div>
                              </form>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>

                        {% with messages =
                        get_flashed_messages(with_categories=True) %} {% if
                        messages %}
                        <div class="alert-container">
                          {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                            {{ message }}
                          </div>
                          {% endfor %}
                        </div>
                        {% endif %} {% endwith %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Appointment Tab -->

              <!-- Prescription Tab -->
              <div class="tab-pane fade" id="pat_prescriptions">
                <div class="text-right">
                  <a
                    href="#"
                    class="add-new-btn"
                    data-toggle="modal"
                    data-target="#prescription_modal"
                    >Add Prescription</a
                  >
                </div>
                <div
                  class="modal fade modal"
                  id="prescription_modal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                    style="max-width: 80%"
                  >
                    <div class="modal-content mb-0">
                      <div class="modal-body card">
                        <div class="card-body p-0">
                          <div class="row">
                            <!-- Add Item -->
                            <button
                              class="border-0 bg-transparent add-more-item text-right"
                              id="add-more-item"
                            >
                              <i class="fas fa-plus-circle"></i> Add Item
                            </button>
                            <!-- /Add Item -->

                            <!-- Prescription Item -->
                            <div class="card card-table">
                              <div class="card-body">
                                <div class="table-responsive">
                                  <form method="POST">
                                    {{ form.hidden_tag() }} {{ form.csrf_token
                                    }} {{ form.patient_id }}
                                    <table
                                      class="table table-hover table-center"
                                    >
                                      <thead>
                                        <tr>
                                          <th style="min-width: 200px">Name</th>
                                          <th style="min-width: 100px">
                                            Quantity
                                          </th>
                                          <th style="min-width: 100px">Time</th>
                                          <th style="min-width: 80px"></th>
                                        </tr>
                                      </thead>
                                      <tbody id="items-container">
                                        {% for item in form.items %}
                                        <tr>
                                          <td>
                                            {{
                                            item.form.name(class_="form-control")
                                            }}
                                          </td>
                                          <td>
                                            {{
                                            item.form.quantity(class_="form-control")
                                            }}
                                          </td>
                                          <td>
                                            {% for subfield in
                                            item.form.time_of_day %}
                                            <div
                                              class="form-check form-check-inline"
                                            >
                                              <label class="form-check-label">
                                                {{
                                                subfield(class_="form-check-input")
                                                }} {{ subfield.label }}
                                              </label>
                                            </div>
                                            {% endfor %}
                                          </td>
                                          <td>
                                            <a
                                              href="#"
                                              class="btn bg-danger-light trash"
                                              ><i class="far fa-trash-alt"></i
                                            ></a>
                                          </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                      <!-- Submit Section -->

                                      <tfoot>
                                        <tr>
                                          <td>
                                            <div class="row">
                                              <div class="col-md-12">
                                                <div class="submit-section">
                                                  <button
                                                    type="submit"
                                                    class="btn btn-primary submit-btn"
                                                  >
                                                    Save
                                                  </button>
                                                  <button
                                                    type="reset"
                                                    class="btn btn-secondary submit-btn"
                                                  >
                                                    Clear
                                                  </button>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                      </tfoot>
                                      <!-- /Submit Section -->
                                    </table>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- /Prescription Item -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card card-table mb-0">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center mb-0">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Time of Day</th>
                            <th>Created by</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for medicine in patient_medicines %}
                          <tr>
                            <td>{{ medicine.Date }}</td>
                            <td>{{ medicine.medName }}</td>
                            <td>{{ medicine.Quantity }}</td>
                            <td>
                              {% for time in medicine.medicine_times %}{{
                              time.time_of_day.name }} | {% endfor %}
                            </td>
                            <td>{{ medicine.user.name }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Prescription Tab -->

              <!-- Medical Records Tab -->
              <div id="pat_medical_records" class="tab-pane fade">
                <div class="card card-table mb-0">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center mb-0">
                        <thead>
                          <tr>
                            <th>diagnosis</th>
                            <th>date appioment</th>
                            <th>Created by</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for record in patient_history %}
                          <tr>
                            <td>{{ record.Diagnosis }}</td>
                            <td>{{ record.formatted_date }}</td>
                            <td>
                              <h2 class="table-avatar">
                                <a
                                  href="javascript:void(0);"
                                  class="avatar avatar-sm mr-2"
                                >
                                  <img
                                    class="avatar-img rounded-circle"
                                    src="{{ record.doctor.users.photo }}"
                                    alt="User Image"
                                  />
                                </a>
                                <a href="#"
                                  >{{ record.users.name }}
                                  <span
                                    >{{
                                    record.doctor.specialization.specialization_name
                                    }}</span
                                  ></a
                                >
                              </h2>
                            </td>
                            <td class="text-right">
                              <div class="table-action">
                                {% if record.Report %}
                                <a
                                  href="{{ url_for('static', filename='reports/' + record.Report) }}"
                                  class="btn btn-sm bg-primary-light"
                                  download
                                >
                                  <i class="fas fa-print"></i> Print
                                </a>
                                {% else %}
                                <span class="text-muted"
                                  >No Report Available</span
                                >
                                {% endif %}
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Medical Records Tab -->
            </div>
            <!-- Tab Content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for rescheduling appointments -->
<div id="reschedule-modal" style="display: none">
  <!-- Modal content will be loaded dynamically -->
</div>

<!-- /Page Content -->
{% endblock %}
