<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <p class="booking-doc-img">
        {% set base_path = 'static/images/doctors/' %}
        <img
          class="avatar-img rounded-circle"
          src="{{base_path ~ current_user.photo}}"
          alt="User Image"
      /></p>
      <div class="profile-det-info">
        <h3>Dr. {{ current_user.name }}</h3>

        <div class="patient-details specialization">
          <h5 class="mb-0"></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li class="{{ 'active' if request.endpoint == 'doctor_dash' else '' }}">
          <a href="{{ url_for('doctor_dash') }}">
            <i class="fas fa-columns"></i>
            <span>{{ translate('Dashboard') }}</span>
          </a>
        </li>
        <li class="{{ 'active' if request.endpoint == 'patient_list' else '' }}">
          <a href="{{ url_for('patient_list') }}">
            <i class="fas fa-user-injured"></i>
            <span>My Patients</span>
          </a>
        </li>
        <li class="{{ 'active' if request.endpoint == 'doctor_profile' else '' }}">
          <a href="{{ url_for('doctor_profile') }}">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
          </a>
        </li>
        <li class="{{ 'active' if request.endpoint == 'change_password' else '' }}">
          <a href="{{url_for('change_password')}}">
            <i class="fas fa-lock"></i>
            <span>Change Password</span>
          </a>
        </li>
        <li class="{{ 'active' if request.endpoint == 'logout_page' else '' }}">
          <a href="{{ url_for('logout_page') }}">
            <i class="fas fa-sign-out-alt"></i>
            <span>{{ translate('Logout') }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
