<meta
name="viewport"
content="width=device-width, initial-scale=1.0, user-scalable=0"
/>

<!-- Favicons -->
<link href="static/img/favicon.png" rel="icon" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') + '?' + cache_id }}">

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') + '?' + cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') + '?' + cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') + '?' + cache_id }}">
<!-- Main CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') + '?' + cache_id }}">
