<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <a href="#" class="booking-doc-img">
        {% set base_path = 'static/images/clinic/' %}
        <img
          src="{{base_path ~ current_user.clinic.photo}}"
          alt="clinic Image"
        />
      </a>
      <div class="profile-det-info ">
        <h3>{{ current_user.clinic.name }}</h3>
        <div class="patient-details d-flex justify-content-center">
          <h5 class="mb-0">
            <p class="mb-1  text-left">
              <i class="fas fa-map-marker-alt"></i> {{
              current_user.clinic.address }}
            </p>
            <p class="mb-1 text-left">
              <i class="fas fa-phone-alt"></i> {{ current_user.clinic.phone }}
            </p>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li class="active">
          <a href="{{ url_for('clinic_dash') }}">
            <i class="fas fa-columns"></i>
            <span>{{ translate('Dashboard') }}</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('change_password')}}">
            <i class="fas fa-lock"></i>
            <span>{{ translate('Change Password') }}</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('logout_page') }}">
            <i class="fas fa-sign-out-alt"></i>
            <span>{{ translate('Logout') }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
