<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <a href="profile.html" class="booking-doc-img">
        {% set base_path = 'static/images/patients/' %}
        <img
          class="avatar-img rounded-circle"
          src="{{base_path ~ current_user.photo}}"
          alt="User Image"
      /></a>
      <div class="profile-det-info">
        <h3>Welcome {{ current_user.name }}!</h3>

        <div class="patient-details">
          <p><strong><i class="fas fa-tint"></i></strong> {{ current_user.patient[0].blood_group.name }}</p>
          <p><strong><i class="fas fa-allergies"></i></strong> {{ current_user.patient[0].allergy.name }}</p>
          <h5 class="mb-0">
            <span class="{{ 'activated' if patient.users.activated else 'not-activated' }}">
              <i class="fas fa-user-check"></i> {{ 'Activated' if patient.users.activated else 'Not Activated' }}
            </span>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        {% if current_user.role =='doctor' and current_user.role == 'clinic' %}
        <li class="active">
          <a href="{{ url_for('patient_dashboard') }}">
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ url_for('appointment_History') }}">
            <i class="fas fa-bookmark"></i>
            <span>appointment History</span>
          </a>
        </li>
        {% if current_user.role =='doctor' and current_user.role == 'clinic' %}
        <li>
          <a href="{{ url_for('patient_setting') }}">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
          </a>
        </li>
        {% endif %}
        {% if current_user.role =='doctor' and current_user.role == 'clinic' %}
        <li>
          <a href="{{url_for('change_password')}}">
            <i class="fas fa-lock"></i>
            <span>{{ translate('Change Password') }}</span>
          </a>
        </li>
        {% endif %}
        {% if current_user.role =='doctor' and current_user.role == 'clinic' %}
        <li class="{{ 'active' if request.endpoint == 'logout_page' else '' }}">
          <a href="{{ url_for('logout_page') }}">
            <i class="fas fa-sign-out-alt"></i>
            <span>{{ translate('Logout') }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
