<!-- jQuery -->
<SCRIPT src="{{ url_for('static', filename='js/jquery.min.js') + '?' + cache_id }}"></SCRIPT>

<!-- Bootstrap Core JS -->
<SCRIPT src="{{ url_for('static', filename='js/popper.min.js') + '?' + cache_id }}"></SCRIPT>
<SCRIPT src="{{ url_for('static', filename='js/bootstrap.min.js') + '?' + cache_id }}"></SCRIPT>

<!-- Sticky Sidebar JS -->
<SCRIPT src="{{ url_for('static', filename='plugins/theia-sticky-sidebar/ResizeSensor.js') + '?' + cache_id }}"></SCRIPT>
<SCRIPT src="{{ url_for('static', filename='plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') + '?' + cache_id }}"></SCRIPT>

<!-- Circle Progress JS -->
<SCRIPT src="{{ url_for('static', filename='js/circle-progress.min.js') + '?' + cache_id }}"></SCRIPT>
<SCRIPT src="{{ url_for('static', filename='js/moment.min.js') + '?' + cache_id }}"></SCRIPT>
<SCRIPT src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') + '?' + cache_id }}"></SCRIPT>
<SCRIPT src="{{ url_for('static', filename='js/slick.js') + '?' + cache_id }}"></SCRIPT>

<!-- Custom JS -->
<SCRIPT src="{{ url_for('static', filename='js/script.js') + '?' + cache_id }}"></SCRIPT>

