<meta
name="viewport"
content="width=device-width, initial-scale=1.0, user-scalable=0"
/>

<!-- Favicons -->
<link href="static/img/favicon.ico" rel="icon" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') + '?' + cache_id }}">

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') + '?' + cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') + '?' + cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') + '?' + cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') + '?' + cache_id }}">
		<!-- Full Calander CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/fullcalendar/fullcalendar.min.css') + '?' + cache_id }}">
<!-- Main CSS -->

<link rel="stylesheet" href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" />


<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') + '?' + cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/css/owl.carousel.min.css') + '?' + cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/css/owl.theme.default.min.css') + '?' + cache_id }}">
