{% extends 'base.html' %}  {% block title %} Booking {% endblock %} 
{%block body %}
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Booking</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Booking</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="row">
						<div class="col-12">

							<div class="card">
								<div class="card-body">
									<div class="booking-doc-info">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a href="doctor-profile.html">{{ doctor.name }}</a></h4>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">35</span>
											</div>
											<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
										</div>
									</div>
								</div>
							</div>
							<form action="" method="get">
								<table class="w-100">
									{% for date, day in dates %}
									<thead class="d-flex w-100 bg-secondary text-white">
										<tr class="w-100">
											<th class="d-flex justify-content-center w-100 text-center">{{ date }} <br> {{ day }}</th>
										</tr>
									</thead>
									<tbody class="d-flex">
										
										<tr class="w-100">
											<td class="d-flex justify-content-center w-100"> 
												{% for timeslot, display in timeslots_by_date[date] %}
													<div class="m-5 p-3 mb-2 bg-info text-white rounded font-weight-bold text-center d-flex align-items-center">
														<input type="radio" id="timeslot_{{ loop.index }}" name="timeslot_{{ date }}" value="{{ timeslot }}">
														<label for="timeslot_{{ loop.index }}" class="m-auto">{{ display }}</label>
													</div>
												{% endfor %}
											</td>
										</tr>
										
									</tbody>
									{% endfor %}
								</table>

								<input type="hidden" name="doctor_id" value="{{ doctor.id }}">
								<button type="submit" class="btn btn-primary submit-btn">Proceed to Pay</button>
							</form>
						</div>
					</div>
				</div>

			</div>
			<!-- /Page Content -->

			{% endblock %}
