{% extends 'base.html' %}  {% block title %} Booking {% endblock %} 
{%block body %}
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Booking</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Booking</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="row">
						<div class="col-12">

							<div class="card">
								<div class="card-body">
									<div class="booking-doc-info">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="../static/img/{{ doctor.image }}" alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a href="doctor-profile.html">{{ doctor.name }}</a></h4>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">35</span>
											</div>
											<p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{ clinic.name }}</p>
											<p class="text-muted mb-0"><i class="fas fa-stethoscope"></i> {{ specialization_name }}</p>
											<p class="text-muted mb-0"><i class="fas fa-clinic-medical"></i> {{ clinic.name }}</p>
										</div>
									</div>
								</div>
							</div>
							<form method="post" action="">
								{{ form.hidden_tag() }}
								<input type="hidden" name="doctor_id" value="{{ doctor.id }}">
								<div class="date-container">
								  {% for date, day in dates %}
									<div class="date-item slot-date{% if not loop.last %} border-right{% endif %}">
									  <h6 class="m-auto ">{{ day }}<br>{{ date }}</h6>
									</div>
								  {% endfor %}
								</div>
								{% for date, day in dates %}
								  <div class="timeslots">
									{% for timeslot in timeslots_by_date[date] %}
									<div class="timeslot">
										<input type="radio" name="timeslot" id="{{ timeslot[0] }}" value="{{ timeslot[0] }}" class="rounded-sm" {% if not timeslot[2] %}disabled{% endif %} required>
										<label for="{{ timeslot[0] }}" {% if not timeslot[2] %}style="color: grey;"{% endif %}>{{ timeslot[1] }} {% if not timeslot[2] %}(Booked){% endif %}</label>
									</div>
									{% endfor %}
								  </div>
								{% endfor %}
								<p>{{ form.submit(class="btn btn-primary submit-btn mt-5") }}</p>
							  </form>
						</div>
					</div>
				</div>

			</div>
			<!-- /Page Content -->

			{% endblock %}
