<!DOCTYPE html>
<html lang="{{ get_locale() }}">
  <head>
    <meta charset="utf-8" />
    <!-- Ensures proper scaling on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <!-- Page Title -->
    <title>IDOC</title>

    <!-- Including base CSS files for consistent styling across pages -->
    {% block head %} {% include 'base-css.html' %} {% endblock %}
  </head>
  <body class="text-main">
    <!-- Alert notifications block -->
    {% block alert %} {% include 'base-alert.html' %} {% endblock %}

    <!-- Main Wrapper -->
    <div class="loader">
      <!-- Loader animation -->
      {% block loading %} {% include 'base-loading.html' %} {% endblock %}
    </div>

    <div class="main-wrapper">
      <!-- Back to Top button -->
      <button id="backToTop" title="Go to top">
        <i class="fas fa-angle-double-up"></i>
      </button>

      <!-- Home Banner Section -->
      <section class="w-full">
        <!-- Header with Navigation -->
        <header class="position-absolute top-0 left-0 w-100 header" style="z-index: 50">
          <nav class="navbar navbar-expand-lg navbar-light topnavbar justify-content-between">
            <!-- Brand Logo -->
            <a class="navbar-brand col-sm-2 col-md-2 d-block" href="#">
              <svg style="width: 8rem" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.1 56.5">
                <!-- SVG content here -->
              </svg>
            </a>
            <!-- Navbar Links -->
            <div class="col-md-9 mr-5 form-inline my-2 my-lg-0">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav align-items-center list-unstyled">
                  <!-- Dynamic navigation links -->
                  <li class="nav-item mr-3"><a class="nav-link" href="#home">{{ translate('Home') }}</a></li>
                  <li class="nav-item mr-3"><a class="nav-link" href="#aboutus">{{ translate('About Us') }}</a></li>
                  <li class="nav-item mr-3"><a class="nav-link" href="#service">{{ translate('Service') }}</a></li>
                  <li class="nav-item mr-3"><a class="nav-link" href="#contactus">{{ translate('Contact Us') }}</a></li>
                  
                  <!-- Authentication Links -->
                  {% if current_user.is_authenticated %}
                  <li class="nav-item dropdown has-arrow logged-item">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="user-img"><img class="rounded-circle" src="{{ base_path ~ current_user.photo }}" width="31" alt="user image"/></span>
                    </a>
                    <div class="dropdown-menu user-dropmenu dropdown-menu-right">
                      <!-- Dropdown content for authenticated users -->
                      <a class="dropdown-item" href="{{ url_for('dashboard') }}">{{ translate('Dashboard') }}</a>
                      <a class="dropdown-item" href="{{ url_for('logout_page') }}">{{ translate('Logout') }}</a>
                    </div>
                  </li>
                  {% else %}
                  <li class="nav-item mx-4">
                    <a class="nav-link home-login" href="{{ url_for('login_page') }}">{{ translate('Login') }}</a>
                  </li>
                  {% endif %}
                  
                  <!-- Language Selector -->
                  <li class="nav-item">
                    <div class="language-select dropdown" id="language-select">
                      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        {% if get_locale() == 'en' %}
                        <img src="../static/img/en.png" alt="English" />
                        {% elif get_locale() == 'ar' %}
                        <img src="../static/img/ar.png" alt="Arabic" />
                        {% endif %}
                      </a>
                      <div class="dropdown-menu">
                        <div class="dropdown-item" data-lang="en"><img src="../static/img/en.png" alt="English" /></div>
                        <div class="dropdown-item" data-lang="ar"><img src="../static/img/ar.png" alt="Arabic" /></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
      </section>
      <!-- /Home Banner Section -->

      <!-- Clinic and Specialities Section -->
      <section class="section section-specialities" id="service">
        <div class="container-fluid">
          <!-- Section Header -->
          <div class="section-header text-center">
            <h2>{{ translate('Clinic and Specialities') }}</h2>
            <p class="sub-title">{{ translate('We offer a wide range of specialties to meet diverse healthcare needs.') }}</p>
          </div>
          <!-- Specialties Slider -->
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="specialities-slider slider">
                <!-- Loop through specialties -->
                {% for special in specialties %}
                <div class="speicality-item text-center">
                  <div class="speicality-img"><img src="{{special.photo}}" alt="Speciality" /></div>
                  <p>{{ translate(special.specialization_name) }}</p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Clinic and Specialities Section -->

      <!-- About Us Section -->
      <section class="section section-about" id="aboutus">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5">
              <h3>{{ translate('ABOUT US') }}</h3>
              <h2>{{ translate('Health Clinic With Quality For You') }}</h2>
              <p>{{ translate('IDOC Group facilitates seamless appointment booking services for patients.') }}</p>
              <ul>
                <li>{{ translate('Enhance Preventive Healthcare Access') }}</li>
                <li>{{ translate('Optimize Wellness Consultations') }}</li>
                <li>{{ translate('Improve Disease Management Services') }}</li>
              </ul>
            </div>
            <div class="col-lg-5">
              <img src="../static/img/doctors/doctor-02.jpg" alt="Doctor" />
            </div>
          </div>
        </div>
      </section>
      <!-- /About Us Section -->

      <!-- Contact Us Section -->
      <section class="section section-contact" id="contactus">
        <div class="container-fluid">
          <div class="section-header text-center">
            <h2>{{ translate('CONTACT US') }}</h2>
          </div>
          <div class="row">
            <!-- Contact Info -->
            <div class="col-md-4">
              <p>{{ translate('Contact Information') }}</p>
              <p><i class="fas fa-phone-alt"></i> +20 012 10 10 100</p>
              <p><i class="far fa-envelope"></i> info@IDOC.com</p>
              <p><i class="fas fa-map-marker-alt"></i> {{ translate('Cairo, Egypt') }}</p>
            </div>
            <!-- Contact Form -->
            <div class="col-md-8">
              <form action="{{ url_for('sendEmail') }}" method="POST">
                {{ E_form.hidden_tag() }}
                <div class="form-group">{{ E_form.name.label }} {{ E_form.name(class="form-control") }}</div>
                <div class="form-group">{{ E_form.email_address.label }} {{ E_form.email_address(class="form-control") }}</div>
                <div class="form-group">{{ E_form.subject.label }} {{ E_form.subject(class="form-control") }}</div>
                <div class="form-group">{{ E_form.message.label }} {{ E_form.message(class="form-control") }}</div>
                {{ E_form.submit(class="btn btn-secondary") }}
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- /Contact Us Section -->

      <!-- Footer Section -->
      {% block footer %} {% include 'base-footer.html' %} {% endblock %}
    </div>
    <!-- /Main Wrapper -->

    <!-- Include base JS files -->
    {% block js %} {% include 'base-js.html' %} {% endblock %}
    <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
  </body>
</html>
