<!DOCTYPE html>
<html lang="en">
  <!-- doccure/forgot-password.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta charset="utf-8" />
    {#
    <title>{{ translate('Login Page') }}</title>
    #}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    {% block alert %} {% include 'base-css.html' %} {% endblock %}
  </head>
  <body class="account-page">
    {% block head %} {% include 'base-alert.html' %} {% endblock %}
    <!-- Main Wrapper -->
    <div class="loader">
      {% block loading %} {% include 'base-loading.html' %} {% endblock %}
    </div>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <!-- Account Content -->
              <div class="account-content">
                <div class="row align-items-center justify-content-center">
                  <div class="col-md-7 col-lg-6 login-left">
                    <img
                      src="./static/img/login-banner.png"
                      class="img-fluid"
                      alt="Login Banner"
                    />
                  </div>
                  <div class="col-md-12 col-lg-6 login-right">
                    <!-- Forgot Password Form -->
                    <form method="POST">
                      {{ form.hidden_tag() }} {{ form.csrf_token }}
                      <div class="form-group">
                        {{ form.Temp_password.label() }} {{
                        form.Temp_password(class="form-control" )}}
                      </div>
                      <div class="form-group">
                        {{ form.new_password.label() }} {{
                        form.new_password(class="form-control" )}}
                      </div>
                      <div class="form-group">
                        {{ form.confirm_new_password.label() }} {{
                        form.confirm_new_password(class="form-control" )}}
                      </div>
                      <div class="submit-section">
                        {{ form.submit(class="btn btn-primary submit-btn") }}
                      </div>
                    </form>

                    <!-- /Forgot Password Form -->
                  </div>
                </div>
              </div>
              <!-- /Account Content -->
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      {% block footer %} {% include 'base-footer.html' %} {% endblock %}
    </div>
    <!-- /Main Wrapper -->

    <!-- Custom JS -->
    {% block js %} {% include 'base-js.html' %} {% endblock %}
  </body>
</html>
