
{% extends 'base.html' %} {% block title %} search Dashboard {% endblock %} {%
	block body %}


			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-8 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Search</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">{{ doctors|length }} matches found </h2>
						</div>
						<div class="col-md-4 col-12 d-md-block d-none">
							
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Search Filter -->
							<div class="card search-filter">
								<div class="card-header">
									<h4 class="card-title mb-0">Search Filter</h4>
								</div>
								<div class="card-body">
								<div class="filter-widget">
									<div class="cal-icon">
										<input type="text" class="form-control datetimepicker" placeholder="Select Date">
									</div>			
								</div>
								<div class="filter-widget">
								</div>
								<div class="filter-widget">
									
									<h4>Select Specialist</h4>
									{% for specialization in specializations %}
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> {{ specialization.specialization_name}}
										</label>
									</div>
									{% endfor %}
								</div>
								    <!-- jQuery -->
                                    <script src="static/js/jquery.min.js"></script>

                                    <!-- Bootstrap Core JS -->
                                    <script src="static/js/popper.min.js"></script>
                                    <script src="static/js/bootstrap.min.js"></script>

                                    <!-- Sticky Sidebar JS -->
                                    <script src="static/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
                                    <script src="static/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

                                    <!-- Circle Progress JS -->
                                    <script src="static/js/circle-progress.min.js"></script>
                                    <script src="static/js/slick.js"></script>


                                    <!-- Custom JS -->
                                    <script src="static/js/script.js"></script>
									<div class="btn-search">
										<button type="button" class="btn btn-block">Search</button>
										<script>
											$(document).ready(function() {
												$('#search-btn').click(function() {
													var select_specialist = [];
													$("input[name='select_specialist']:checked").each(function() {
														select_specialist.push($(this).val());
													});
													var date = $('.datetimepicker').val();
													var clinic_address = $('#clinic-address').val();
									
													// Send AJAX request to Flask route
													$.ajax({
														method: "POST",
														url: "/search_doctor",
														data: {
															specialization_name: select_specialist,
															doctor_name: $('#doctor-name').val(),
															clinic_address: clinic_address,
															date: date
														},
														success: function(data) {
															$("#search-results").html(data);
														},
														error: function(xhr, status, error) {
															console.error('Error:', error);
														}
													});
												});
											});
										</script>
									</div>	
								</div>
							</div>
							<!-- /Search Filter -->
							
						</div>
						
						<div class="col-md-12 col-lg-8 col-xl-9">

							<!-- Doctor Widget -->
							{% for doctor, specialization, clinic, governorate in doctors %}
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.html">
													<img src="static/img/doctors/doctor-thumb-06.jpg" class="img-fluid" alt="User Image">
												</a>
											</div>
											<div class="doc-info-cont">
												<h4 class="doc-name"><a href="doctor-profile.html">{{ doctor.name }}</a></h4>
												<p class="doc-department"><img src="static/img/specialities/specialities-03.png" class="img-fluid" alt="Speciality">{{ specialization.specialization_name }}</p>
												<div class="clinic-details">
													<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{ doctor.clinic.address }}</p>
													
												</div>
												<div class="clinic-services">
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>

													<li><i class="fas fa-map-marker-alt"></i> {{ governorate.governorate_name }}</li>
													<li><i class="far fa-money-bill-alt"></i> {{ doctor.price }} <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
												</ul>
											</div>
											<div class="clinic-booking">
												<a class="apt-btn" href="booking.html">Book Appointment</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							<!-- /Doctor Widget -->

							<div class="load-more text-center">
								<a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>	
							</div>	
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
{% endblock %}

			{% block scripts %}
			<!-- jQuery -->
            <!-- jQuery -->
            <script src="static/js/jquery.min.js"></script>

            <!-- Bootstrap Core JS -->
            <script src="static/js/popper.min.js"></script>
            <script src="static/js/bootstrap.min.js"></script>

            <!-- Sticky Sidebar JS -->
            <script src="static/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
            <script src="static/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

            <!-- Circle Progress JS -->
            <script src="static/js/circle-progress.min.js"></script>
            <script src="static/js/slick.js"></script>


           <!-- Custom JS -->
           <script src="static/js/script.js"></script>
			
			<!-- Bootstrap Datepicker CSS -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
			
			<!-- Bootstrap Datepicker JS -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
			
			<!-- Custom JS -->
			<script src="static/js/script.js"></script>
			
			<script>
				$(document).ready(function () {
					// Initialize the datepicker
					$('.datetimepicker').datepicker({
						format: 'yyyy-mm-dd',
						autoclose: true
					});
			
					// Ajax search functionality
					$('.btn-search').click(function () {
						var query = $('#search-input').val(); // Assuming there's an input field with the id 'search-input'
						var select_specialist = []; // Assuming there's a checkbox group with the name 'select_specialist'
						$("input[name='select_specialist']:checked").each(function () {
							select_specialist.push($(this).val());
						});
						var date = $('.datetimepicker').val(); // Assuming there's an input field with the class 'datetimepicker'
						var clinic_address = $('#clinic-address').val(); // Assuming there's an input field with the id 'clinic-address'
			
						$.ajax({
							url: '/search_doctor',
							type: 'POST',
							data: {
								specialization_name: select_specialist,
								doctor_name: query,
								clinic_address: clinic_address,
								date: date
							},
							success: function (data) {
								$('#search-results').html(data);
							},
							error: function (xhr, status, error) {
								console.error('Error:', error);
							}
						});
					});
				});
			</script>
			{% endblock %}
