{% extends 'base.html' %} {% block title %} {{ translate('Specialities') }} {% endblock %} {% block
body %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index-2.html">{{ translate('Home') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ translate('Specialities') }}
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">{{ translate('Profile Settings') }}</h2>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <!-- Profile Sidebar -->
        {% block sidebar %} {% include 'base-admin-side.html' %} {% endblock %}
        <!-- /Profile Sidebar -->
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-header">
            <a
            data-target="#Add_Specialities_details"
              data-toggle="modal"
              class="btn btn-primary float-right mt-2"
              >{{ translate('Add') }}</a
            >
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{{ translate('Specialities') }}</th>
                    <th class="text-right">{{ translate('Actions') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#SP001</td>

                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2">
                          <img
                            class="avatar-img"
                            src="static/img/specialities/specialities-01.png"
                            alt="Speciality"
                          />
                        </a>
                        <a href="profile.html">{{ translate('Urology') }}</a>
                      </h2>
                    </td>

                    <td class="text-right">
                      <div class="actions">
                        <a
                          class="btn btn-sm bg-success-light"
                          data-toggle="modal"
                          href="#edit_specialities_details"
                        >
                          <i class="fe fe-pencil"></i> {{ translate('Edit') }}
                        </a>
                        <a
                          data-toggle="modal"
                          href="#delete_modal"
                          class="btn btn-sm bg-danger-light"
                        >
                          <i class="fe fe-trash"></i> {{ translate('Delete') }}
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#SP002</td>

                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2">
                          <img
                            class="avatar-img"
                            src="static/img/specialities/specialities-02.png"
                            alt="Speciality"
                          />
                        </a>
                        <a href="profile.html">{{ translate('Neurology') }}</a>
                      </h2>
                    </td>

                    <td class="text-right">
                      <div class="actions">
                        <a
                          class="btn btn-sm bg-success-light"
                          data-toggle="modal"
                          href="#edit_specialities_details"
                        >
                          <i class="fe fe-pencil"></i> {{ translate('Edit') }}
                        </a>
                        <a
                          data-toggle="modal"
                          href="#delete_modal"
                          class="btn btn-sm bg-danger-light"
                        >
                          <i class="fe fe-trash"></i> {{ translate('Delete') }}
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#SP003</td>

                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2">
                          <img
                            class="avatar-img"
                            src="static/img/specialities/specialities-03.png"
                            alt="Speciality"
                          />
                        </a>
                        <a href="profile.html">{{ translate('Orthopedic') }}</a>
                      </h2>
                    </td>

                    <td class="text-right">
                      <div class="actions">
                        <a
                          class="btn btn-sm bg-success-light"
                          data-toggle="modal"
                          href="#edit_specialities_details"
                        >
                          <i class="fe fe-pencil"></i> {{ translate('Edit') }}
                        </a>
                        <a
                          data-toggle="modal"
                          href="#delete_modal"
                          class="btn btn-sm bg-danger-light"
                        >
                          <i class="fe fe-trash"></i> {{ translate('Delete') }}
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#SP004</td>

                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2">
                          <img
                            class="avatar-img"
                            src="static/img/specialities/specialities-04.png"
                            alt="Speciality"
                          />
                        </a>
                        <a href="profile.html">{{ translate('Cardiologist') }}</a>
                      </h2>
                    </td>

                    <td class="text-right">
                      <div class="actions">
                        <a
                          class="btn btn-sm bg-success-light"
                          data-toggle="modal"
                          href="#edit_specialities_details"
                        >
                          <i class="fe fe-pencil"></i> {{ translate('Edit') }}
                        </a>
                        <a
                          data-toggle="modal"
                          href="#delete_modal"
                          class="btn btn-sm bg-danger-light"
                        >
                          <i class="fe fe-trash"></i> {{ translate('Delete') }}
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#SP005</td>

                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2">
                          <img
                            class="avatar-img"
                            src="static/img/specialities/specialities-05.png"
                            alt="Speciality"
                          />
                        </a>
                        <a href="profile.html">{{ translate('Dentist') }}</a>
                      </h2>
                    </td>

                    <td class="text-right">
                      <div class="actions">
                        <a
                          class="btn btn-sm bg-success-light"
                          data-toggle="modal"
                          href="#edit_specialities_details"
                        >
                          <i class="fe fe-pencil"></i> {{ translate('Edit') }}
                        </a>
                        <a
                          class="btn btn-sm bg-danger-light"
                          data-toggle="modal"
                          href="#delete_modal"
                        >
                          <i class="fe fe-trash"></i> {{ translate('Delete') }}
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /Page Wrapper -->

<!-- Add Modal -->
<div
  class="modal fade"
  id="Add"
  aria-hidden="true"
  role="dialog" tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ translate('Add Specialities') }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row form-row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>{{ translate('Specialities') }}</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>{{ translate('Image') }}</label>
                <input type="file" class="form-control" />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            {{ translate('Save Changes') }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /ADD Modal -->

<!-- /Delete Modal -->
{% endblock %}
<!-- Footer -->
