{% extends 'base.html' %} {% block title %} {{ translate('Notifications') }} {%
endblock %} {% block body %}
<meta name="csrf-token" content="{{ csrf_token() }}" />

<div class="row">
  <div class="col-md-12">
    <h4 class="mb-4" style="text-align: center; margin-top: 20px">
      All Notifications
    </h4>
    <div class="appointment-tab">
      <!-- All notifications -->
      <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
        <li class="nav-item">
          <a class="nav-link active" href="#read-appointments" data-toggle="tab"
            >Read</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#unread-appointments" data-toggle="tab"
            >Unread</a
          >
        </li>
      </ul>
      <!-- /All notifications -->

      <div class="tab-content">
        <!-- Read -->
        <div class="tab-pane show active" id="read-appointments">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  {% if notifications %}
                  <tbody>
                    {% for notification in notifications %} {% if
                    notification.isRead %}
                    <tr>
                      <td class="notification-message">
                        {% if notification.photo %}
                        <a
                          href="patient-profile.html"
                          class="avatar avatar-sm mr-2"
                        >
                          <img
                            class="avatar-img rounded-circle"
                            src="{{ notification.photo }}"
                            alt="Doctor Photo"
                          />
                        </a>
                        {% endif %}
                        <span>{{ notification.patient }}</span> has an
                        appointment with Dr. {{ notification.doctor }}
                        <span class="d-inline-block ml-2 text-info">
                          on {{ notification.date }} at {{ notification.time }}
                        </span>
                        <span class="d-inline-block ml-2 text-info">
                          {{ notification.formatted_time }}
                        </span>
                      </td>
                      <td class="text-right">
                        <div class="table-action">
                          <button
                            class="btn btn-sm bg-danger-light delete-btn"
                            data-id="{{ notification.id }}"
                          >
                            <i class="fas fa-times"></i> Delete
                          </button>
                        </div>
                      </td>
                    </tr>
                    {% endif %} {% endfor %}
                  </tbody>
                  {% else %}
                  <tr>
                    <td colspan="2" class="notification-message">
                      No notifications available.
                    </td>
                  </tr>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /Read -->

        <!-- Unread -->
        <div class="tab-pane" id="unread-appointments">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  {% if notifications %}
                  <tbody>
                    {% for notification in notifications %} {% if not
                    notification.isRead %}
                    <tr>
                      <td class="notification-message">
                        {% if notification.photo %}
                        <a
                          href="patient-profile.html"
                          class="avatar avatar-sm mr-2"
                        >
                          <img
                            class="avatar-img rounded-circle"
                            src="{{ notification.photo }}"
                            alt="Doctor Photo"
                          />
                        </a>
                        {% endif %}
                        <span>{{ notification.patient }}</span> has an
                        appointment with Dr. {{ notification.doctor }}
                        <span class="d-inline-block ml-2 text-info">
                          on {{ notification.date }} at {{ notification.time }}
                        </span>
                        <span class="d-inline-block ml-2 text-info">
                          {{ notification.formatted_time }}
                        </span>
                      </td>
                      <td class="text-right">
                        <div class="table-action">
                          <button
                            class="btn btn-sm bg-danger-light delete-btn"
                            data-id="{{ notification.id }}"
                          >
                            <i class="fas fa-times"></i> Delete
                          </button>
                        </div>
                      </td>
                    </tr>
                    {% endif %} {% endfor %}
                  </tbody>
                  {% else %}
                  <tr>
                    <td colspan="2" class="notification-message">
                      No notifications available.
                    </td>
                  </tr>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /Unread -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
